*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #282c34;
    font-size:20px;
}
.greetings{
    background-color: #16181d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#greet{
    font-size: 24px;
    color: #ffffff;
    padding: 10px;
}
#quotation{
    font-size: 30px;
    color: #61dafb;
    padding: 6px;
    text-align: center;
    font-style: italic;
    
}
.name{
    padding: 10px;
    color: #61dafb;
}
.search{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
}
.search span, .search input{
    padding: 10px;
    border-radius: 10px;
}
.main{
    display: flex;
    justify-content: space-between;
    height: 100%;

}
.currentAffairs{
    width: 65%;
    display: flex;
    flex-direction: column;
}
.mainContent{
    margin: 10px;
}
.adds{
    width: 30%;
    background-color: #f7f7f7;
    
}
.heading{
    margin: 10px;
    font-size: 24px;
    font-weight: 700;
}
.summary li{
    list-style: circle;
    padding: 0px 0px 0px 110px;
}